@font-face {font-family: "BrandonGrotW01-Light";
    src: url("/fonts/6dd2f2510b4a00a5461b2455928209c2.eot"); /* IE9*/
    src: url("/fonts/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/6dd2f2510b4a00a5461b2455928209c2.woff2") format("woff2"), /* chrome、firefox */
    url("/fonts/6dd2f2510b4a00a5461b2455928209c2.woff") format("woff"), /* chrome、firefox */
    url("/fonts/6dd2f2510b4a00a5461b2455928209c2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/fonts/6dd2f2510b4a00a5461b2455928209c2.svg#Brandon Grot W01 Light") format("svg"); /* iOS 4.1- */
  }

body {
    font-family: BrandonGrotW01-Light, sans-serif, Helvetica;
    text-align: center;
}

h1 {
    font-size: 25px;
    font-weight: normal;
    color: #242323;
}

p {
    font-size: 18px;
    font-style: italic;
    line-height: normal;
    color: #737373;
}

a {
    color: black;
}

.title {
    padding-top: 0.8em;
    padding-bottom: 3.7em;
  
    hr {
      width: 16em;
    }
    h1 {
        font-size: 40px;
        font-weight: 700;
        margin: 0.4em;
        letter-spacing: 4px;
    }
    h2 {
        font-size: 32px;
        margin: 0.4em;
        letter-spacing: 3.2px;
    }
}